<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/options.css">
</head>

<body>
    <div style="text-align: center">
        <h2>Paramètres</h2>
    </div>

    <fieldset>
        <legend><b>Types de notifications</b></legend>

        <label class="form-switch">
            <input type="checkbox" id="streams">
            <i></i>
            <em>Streams (Twitch, YouTube, ...)</em>
        </label>
        <br>

        <label class="form-switch">
            <input type="checkbox" id="videos">
            <i></i>
            <em>Vidéos (YouTube, Dailymotion, ...)</em>
        </label>
        <br>

        <label class="form-switch">
            <input type="checkbox" id="system">
            <i></i>
            <em>Système (Mises à jour, infos, ...)</em>
        </label>
        <br>

        <label class="form-switch">
            <input type="checkbox" id="other">
            <i></i>
            <em>Autre</em>
        </label>
        <br>
    </fieldset>

    <fieldset>
        <legend><b>Paramètres sonore</b></legend>

        <label class="form-switch">
            <input type="checkbox" id="playSound">
            <i></i>
            <em>Jouer un son</em>
        </label>
        <br>

        <label class="form-switch">
            <select id="sound"></select>
            <em>Son des notifications</em>
        </label>
        <br>

        <label class="form-input">
            <input type="range" step="0.1" min="0" max="1" id="volume"></input>
            <em>Volume des notifications</em>
        </label>
        <br>
    </fieldset>

    <fieldset>
        <legend><b>Autres paramètres</b></legend>

        <label class="form-switch">
            <input type="checkbox" id="blink">
            <i></i>
            <em>Icône clignotante</em>
        </label>
        <br>
    </fieldset>

    <div style="text-align: center">
        <span>
            <button type="submit" id="save">Sauvegarder</button>
            <button type="button" id="testSound">Tester le son</button>
        </span>
    </div>

    <script src="../assets/js/browser-polyfill.min.js"></script>
    <script src="../assets/js/options.js"></script>
</body>

</html>
