* {
	user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

span {
	cursor: default;
}

::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; }

html, body {
	margin: 0;
	width: 340px;
	color: #8f9b92;
}

body {
	background-color: #fff;	
}

a:hover,
a:active,
a:hover > span,
a:active > span {
	cursor: pointer;
}

.row {
    position: relative;
	width: 100%;
	min-height: 68px;
}

.row .content {
	padding: 20px;
}

.row.footer {
	min-height: 48px;
}

.is-offline {
	text-align: center;
	font-size: 16px;
}

.is-online .title {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	width: 300px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}

.is-online .game,
.is-online .since,
.is-online .url {
	font-size: 16px;
}

.is-online .fa-game {
	color: #7bde70
}
.is-online .fa-since {
	color: #70a6de
}
.is-online .fa-url {
	color: #f45942
}

.footer > div {
	float: left;
}

a.btn {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}

a.btn i {
	color: #fff;
	font-size: 17px;
	line-height: 48px;
}


.btn-facebook {
	background-color: #2479b6;
}

.btn-facebook:hover {
	background-color: #244872;
}

.btn-twitter {
	background-color: #26c4f1;
}

.btn-twitter:hover {
	background-color: #0eaad6;
}

.btn-youtube {
	background-color: #df1c31;
}

.btn-youtube:hover {
	background-color: #b21627;
}

.btn-twitch {
	background-color: #6441a5;
}

.btn-twitch:hover {
	background-color: #5a3e83;
}

.btn-instagram {
	background-color: #125688;
}

.btn-instagram:hover {
	background-color: #0c3a5b;
}
